<h1><%= @subcategory.name %> </h1>

<div class="mentor_info">
  <div class="row">
    <% near_me(@subcategory).each do |mentor| %>
      <%if mentor.mentor_info.availability == true%>
        <div class="card col-md-4">
          <p class="card-text">
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to mentor.first_name, mentor_info_path(mentor.id) %>
              </h4>
              <div class="profilepic">
                <%= image_tag mentor.avatar.url (:medium)%>
              </div>
            </div>
          </p>
        </div>
      <%end%>
    <%end%>
   </div>
 </div>
