<footer>

  <div class="card" style="height:50%;" >
    <div class="card-header">
      Kaizen
    </div>
    <div class="card-body">
         <!--/Copyright-->
      <h6 class="card-title">© 2017 Copyright: Kaizen</h6>
      <p class="card-text">About Contact Help Code of Ethics & Standards</p>

    </div>
  </div>


</footer>
